# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# CSV
*.csv

# images
*.jpg
*.JPG
*.png
*.PNG
*.jpeg
*.JPEG

# models
*.keras

# ML FLOW
mlruns/

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
