<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Full View Patient</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', path='styles.css') }}"
    />
  </head>
  <body>
    <nav>
      <div class="NavContainer">
        <h2 class="logo"><a href="/">NEUROGUARD 🛡️</a></h2>

        <div class="LinkContainer">
          <a href="/">Home</a>
          <a href="/add_patient">Add New Patient</a>
          <a href="/view_patients">View all</a>
          <a href="/docs#">doc</a>
          <div class="searchbarContainer">
            <input
              id="search-input"
              type="text"
              placeholder="Enter Patient name"
            />
            <button id="search-button" class="search-button">
              <img src="../static/src/search_icon.svg" class="button-image" />
            </button>
          </div>
        </div>
      </div>
    </nav>

    <table id="tab">
      <caption>
        <h1>Patient Information</h1>
      </caption>

      <tr>
        <th colspan="2">Patient Information</th>
      </tr>
      <tr>
        <td>Name</td>
        <td>{{ patient.name }}</td>
      </tr>
      <tr>
        <td>Age</td>
        <td>{{ patient.age }}</td>
      </tr>
      <tr>
        <td>Gender</td>
        <td>{{ patient.gender }}</td>
      </tr>
      <tr>
        <td>Image Name</td>
        <td>{{ patient.scanner_name }}</td>
      </tr>
      <tr>
        <td>Scanner Image</td>
        <td>
          <img
            src="data:image/png;base64,{{ patient.scanner_img }}"
            alt="Scanner Image"
          />
        </td>
      </tr>

      <tr>
        <th colspan="2">Prediction Result</th>
      </tr>
      {% if patient.AI_predict %}
      <tr>
        <td>Label</td>
        <td>{{ patient.AI_predict }}</td>
      </tr>
      <tr>
        <td>Confidence</td>
        {% if patient.AI_predict == "no" %}
        <td>{{ (1 - patient.confidence) * 100 }}%</td>
        {% endif %} {% if patient.AI_predict == "yes" %}
        <td>{{ patient.confidence * 100 }}%</td>
        {% endif %}
      </tr>
      <tr>
        <td>Date</td>
        <td>{{ patient.prediction_date }}</td>
      </tr>
      {% else %}
      <tr>
        <td colspan="2">No prediction result available.</td>
      </tr>
      {% endif %}
    </table>

    <div class="btnContainerFP">
      <button
        type="button"
        value="Create PDF"
        id="btPrint"
        onclick="createPDF()"
      >
        <svg
          fill="#000000"
          version="1.1"
          id="Capa_1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          width="50px"
          height="50px"
          viewBox="0 0 45 45"
          xml:space="preserve"
        >
          <g>
            <path
              d="M42.5,19.408H40V1.843c0-0.69-0.561-1.25-1.25-1.25H6.25C5.56,0.593,5,1.153,5,1.843v17.563H2.5
		c-1.381,0-2.5,1.119-2.5,2.5v20c0,1.381,1.119,2.5,2.5,2.5h40c1.381,0,2.5-1.119,2.5-2.5v-20C45,20.525,43.881,19.408,42.5,19.408z
		 M32.531,38.094H12.468v-5h20.063V38.094z M37.5,19.408H35c-1.381,0-2.5,1.119-2.5,2.5v5h-20v-5c0-1.381-1.119-2.5-2.5-2.5H7.5
		V3.093h30V19.408z M32.5,8.792h-20c-0.69,0-1.25-0.56-1.25-1.25s0.56-1.25,1.25-1.25h20c0.689,0,1.25,0.56,1.25,1.25
		S33.189,8.792,32.5,8.792z M32.5,13.792h-20c-0.69,0-1.25-0.56-1.25-1.25s0.56-1.25,1.25-1.25h20c0.689,0,1.25,0.56,1.25,1.25
		S33.189,13.792,32.5,13.792z M32.5,18.792h-20c-0.69,0-1.25-0.56-1.25-1.25s0.56-1.25,1.25-1.25h20c0.689,0,1.25,0.56,1.25,1.25
		S33.189,18.792,32.5,18.792z"
            />
          </g>
        </svg>
      </button>
    </div>

    <script>
      function createPDF() {
        var sTable = document.getElementById("tab").outerHTML;

        var style = "<style>";
        style += "table {width: 100%; font: 17px}";
        style +=
          "table, th, td {border: solid 2px #DDD; border-collapse: collapse;}";
        style += "padding: 2px 3px; text-align: center;}";
        style += "</style>";

        var win = window.open("about:blank", "", "height=700,width=700");

        win.document.write("<html><head>");
        win.document.write(style);
        win.document.write("</head><body>");
        win.document.write(sTable);
        win.document.write("</body></html>");

        win.document.close();

        setTimeout(function () {
          win.print();
        }, 250);
      }
    </script>
  </body>
</html>
