{% from "components/navbar.html" import navbar %} {% from
"components/footer.html" import footer %} {% from "components/print.html" import
printButton %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Full View Patient</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', path='styles.css') }}"
    />
  </head>
  <body>
    {{ navbar() }}

    <table id="tab">
      <caption>
        <h1>Patient Information and Prediction Results</h1>
      </caption>

      <!-- Patient Information -->
      <tr>
        <th colspan="2">Patient Information</th>
      </tr>
      <tr>
        <td>Name</td>
        <td>{{ patient.name }}</td>
      </tr>
      <tr>
        <td>Age</td>
        <td>{{ patient.age }}</td>
      </tr>
      <tr>
        <td>ID</td>
        <td id="patientId" data-value="{{ patient.id }}">{{ patient.id }}</td>
      </tr>
      <tr>
        <td>Gender</td>
        <td>{{ patient.gender }}</td>
      </tr>

      <!-- Scanner Information -->
      {% if patient.scanner and patient.scanner.scanner_img %}
      <tr>
        <td>Scanner File Name</td>
        <td id="scannerName">{{ patient.scanner.scanner_name }}</td>
      </tr>
      <tr>
        <td>Scanner Image</td>
        <td class="scannerContainer">
          <img
            src="data:image/png;base64,{{ patient.scanner.scanner_img }}"
            alt="Scanner Image"
          />
        </td>
      </tr>
      {% else %}
      <tr>
        <td>No image added yet</td>
      </tr>
      {% endif %}

      <!-- Prediction Result -->
      {% if patient.scanner and patient.scanner.prediction and
      patient.scanner.prediction.AI_predict %}
      <tr>
        <th colspan="2">Prediction Result</th>
      </tr>
      <tr>
        <th>Label</th>
        <td id="AI_predict">{{ patient.scanner.prediction.AI_predict }}</td>
      </tr>
      <tr>
        <th>Confidence</th>
        <td>{{ patient.scanner.prediction.confidence }}%</td>
      </tr>
      <tr>
        <th>Date</th>
        <td>{{ patient.scanner.prediction.prediction_date }}</td>
      </tr>
      {% else %}
      <tr>
        <td colspan="2">No prediction result available.</td>
      </tr>
      {% endif %}

      <!-- Validation of the prediction -->
      {% if patient.scanner and patient.scanner.prediction.AI_predict %}
      <tr>
        <th colspan="2">Validation of the Prediction</th>
      </tr>
      <tr>
        <th>Do you agree with AI prediction ?</th>
        <td>
          <select id="predict_check" name="predict_check">
            <option value="Yes">Yes</option>
            <option value="No">No</option>
          </select>
          <button type="button" id="checkBtn">Send check</button>
        </td>
      </tr>
      <tr id="commentBox" style="display: none">
        <th>Comment:</th>
        <td><textarea id="comment" name="comment"></textarea></td>
      </tr>
      {% else %}
      <tr>
        <td colspan="2">Waiting for prediction.</td>
      </tr>
      {% endif %}
    </table>

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const submitCheck = document.getElementById("checkBtn");
        submitCheck.addEventListener("click", function () {
          const predictCheckSelect = document.getElementById("predict_check");
          const predict_check = predictCheckSelect.value;
          const patientId = document.getElementById("patientId").dataset.value;
          const scannerName = document.getElementById("scannerName").innerText;
          const AI_predict = document.getElementById("AI_predict").innerText;
          const comment = document.getElementById("comment").value;

          let data = {
            patient_id: patientId,
            scanner: scannerName,
            prediction: AI_predict,
            expert_opinion: predict_check,
          };
          console.log(data);

          if (predict_check === "No") {
            fetch("/feed_back", {
              method: "POST",
              headers: {
                "Content-Type": "application/json",
              },
              body: JSON.stringify(data),
            });
          }

          if (predict_check === "No" && comment.trim() === "") {
            alert("Please provide a comment for disagreement.");
            return;
          }

          fetch(`/check_predict_post/${patientId}`, {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify({ predict_check, comment }),
          })
            .then((response) => response.json())
            .then((data) => {
              window.location.href = "/view_patients";
              if (predict_check === "No" && comment.trim() !== "") {
                const patientName =
                  document.getElementById("patientId").innerText;
                sendEmail(patientId, patientName, comment);
              }
            })
            .catch((error) => console.error("Error:", error));
        });

        const predictCheckSelect = document.getElementById("predict_check");
        predictCheckSelect.addEventListener("change", function () {
          const selectedOption = predictCheckSelect.value;
          const commentBox = document.getElementById("commentBox");
          if (selectedOption === "No") {
            commentBox.style.display = "table-row";
          } else {
            commentBox.style.display = "none";
          }
        });
      });

      // function sendEmail(patientId, patientName, comment) {
      //   const emailJsServiceId = "service_rynudlj";
      //   const emailJsUserId = "XVAkyIul_MV_Z6l0GCDXw";
      //   const emailJsTemplateId = "template_azas53s";
      //   const recipientEmail = "devia.ramdani.lokman@gmail.com";

      //   const formData = new FormData();
      //   formData.append("service_id", emailJsServiceId);
      //   formData.append("template_id", emailJsTemplateId);
      //   formData.append("user_id", emailJsUserId);
      //   formData.append("to_email", recipientEmail);
      //   formData.append("patient_id", patientId);
      //   formData.append("patient_name", patientName);
      //   formData.append("comment", comment);

      //   fetch("https://api.emailjs.com/api/v1.0/email/send-form", {
      //     method: "POST",
      //     body: formData,
      //   })
      //     .then((response) => {
      //       if (response.ok) {
      //         alert("Your email is sent!");
      //       } else {
      //         return response.text().then((text) => {
      //           throw new Error(text);
      //         });
      //       }
      //     })
      //     .catch((error) => {
      //       alert("Oops... " + error.message);
      //     });
      }
    </script>

    {{ printButton() }} {{ footer() }}
  </body>
</html>
