{% from "components/navbar.html" import navbar %} {% from
"components/footer.html" import footer %} {% from "components/print.html" import
printButton %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Full View Patient</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', path='styles.css') }}"
    />
  </head>
  <body>
    {{ navbar() }}

    <table id="tab">
      <caption>
        <h1>Patient Information and Prediction Results</h1>
      </caption>

      <!-- Patient Information -->
      <tr>
        <th colspan="2">Patient Information</th>
      </tr>
      <tr>
        <td>Name</td>
        <td>{{ patient.name }}</td>
      </tr>
      <tr>
        <td>Age</td>
        <td>{{ patient.age }}</td>
      </tr>
      <tr>
        <td>ID</td>
        <td id="patientId" data-value="{{ patient.id }}">{{ patient.id }}</td>
      </tr>
      <tr>
        <td>Gender</td>
        <td>{{ patient.gender }}</td>
      </tr>

      <!-- Scanner Information -->
      {% if patient.scanner and patient.scanner.scanner_img %}
      <tr>
        <td>Scanner File Name</td>
        <td>{{ patient.scanner.scanner_name }}</td>
      </tr>
      <tr>
        <td>Scanner Image</td>
        <td class="scannerContainer">
          <img
            src="data:image/png;base64,{{ patient.scanner.scanner_img }}"
            alt="Scanner Image"
          />
        </td>
      </tr>
      {% else %}
      <tr>
        <td>No image added yet</td>
      </tr>
      {% endif %}

      <!-- Prediction Result -->
      {% if patient.scanner and patient.scanner.prediction and
      patient.scanner.prediction.AI_predict %}
      <tr>
        <th colspan="2">Prediction Result</th>
      </tr>
      <tr>
        <th>Label</th>
        <td>{{ patient.scanner.prediction.AI_predict }}</td>
      </tr>
      <tr>
        <th>Confidence</th>
        <td>{{ patient.scanner.prediction.confidence }}%</td>
      </tr>
      <tr>
        <th>Date</th>
        <td>{{ patient.scanner.prediction.prediction_date }}</td>
      </tr>
      {% else %}
      <tr>
        <td colspan="2">No prediction result available.</td>
      </tr>
      {% endif %}

      <!-- Validation of the prediction -->
      {% if patient.scanner and patient.scanner.prediction.AI_predict %}
      <tr>
        <th colspan="2">Validation of the Prediction</th>
      </tr>
      <tr>
        <th>Do you agree with AI prediction ?</th>
        <td>
          <select id="predict_check" name="predict_check">
            <option value="Yes">Yes</option>
            <option value="No">No</option>
          </select>
          <button type="button" id="checkBtn">Send check</button>
        </td>
      </tr>
      <tr id="commentBox" style="display: none">
        <th>Comment:</th>
        <td><textarea id="comment" name="comment"></textarea></td>
      </tr>
      {% else %}
      <tr>
        <td colspan="2">Waiting for prediction.</td>
      </tr>
      {% endif %}
    </table>

    <script>
      const submitCheck = document.getElementById("checkBtn");
      submitCheck.addEventListener("click", () => {
        const predict_check = document.getElementById("predict_check").value;
        const patient_id = document.getElementById("patientId").dataset.value;
        const predict_check_date = new Date();
        const comment = document.getElementById("comment").value;

        if (predict_check === "no" && comment.trim() === "") {
          alert("Please provide a comment for disagreement.");
          return;
        }
        
        // Effectuer une requête vers l'endpoint de modification du patient
        fetch(`/check_predict_post/${patient_id}`, {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({ predict_check, predict_check_date, comment }),
        })
          .then((response) => response.json())
          .then((data) => {
            // Rediriger vers la vue des patients après l'édition
            window.location.href = "/view_patients";
          })
          .catch((error) => console.error("Error:", error));
      });

      // Show or hide the comment box based on user selection
      const predictCheckSelect = document.getElementById("predict_check");
      predictCheckSelect.addEventListener("change", () => {
        const selectedOption = predictCheckSelect.value;
        const commentBox = document.getElementById("commentBox");
        if (selectedOption === "no") {
          commentBox.style.display = "table-row";
        } else {
          commentBox.style.display = "none";
        }
      });
    </script>
    {{ printButton() }} {{ footer() }}
  </body>
</html>
