{% from "components/navbar.html" import navbar %} {% from
"components/footer.html" import footer %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>NeuroGuard</title>
    <link
      rel="icon"
      href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🛡️</text></svg>"
    />
    <link rel="stylesheet" href="{{ url_for('static', path='home.css') }}"">
  </head>
  <body>
    {{ navbar() }}

    <div class="CatchPhraseContainer">
      <h1>
        Empowering Care, Enlightening Decisions: <br />
        AI at the Heart of Healthcare
      </h1>
    </div>

    <div id="cursor">
      <div class="cursor--inner"></div>
    </div>

    {{ footer() }}
    <script>
      const cursor = document.querySelector("#cursor");
      let mouse = { x: 300, y: 300 };
      let pos = { x: 0, y: 0 };
      const speed = 0.5;

      const updatePosition = () => {
        pos.x += (mouse.x - pos.x) * speed;
        pos.y += (mouse.y - pos.y) * speed;
        cursor.style.transform =
          "translate3d(" + pos.x + "px ," + pos.y + "px, 0)";
      };

      const updateCoordinates = (e) => {
        mouse.x = e.clientX;
        mouse.y = e.clientY;
      };

      window.addEventListener("mousemove", updateCoordinates);

      function loop() {
        updatePosition();
        requestAnimationFrame(loop);
      }

      requestAnimationFrame(loop);
    </script>
  </body>
</html>
