{% from "components/navbar.html" import navbar %} {% from
  "components/footer.html" import footer %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>View Patients</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', path='styles.css') }}"
    />
  </head>
  <body>

    {{ navbar() }}

    <table border="1">
      <thead>
       
        <tr>
          <th>Name</th>
          <th>Age</th>
          <th>Gender</th>
          <th>Prediction</th>
          <th>Confidence</th>
          <th>Validated ?</th>
          <th>Validation Date</th>
          <th>Edit</th>
        </tr>
      </thead>

      <tbody>
        {% for patient in patients %}  
        {% if patient.scanner and patient.scanner.prediction.predict_check %}
        <tr>
          <td>{{ patient.name }}</td>
          <td>{{ patient.age }}</td>
          <td>{{ patient.gender }}</td>
          <td>{{ patient.scanner.prediction.AI_predict }}</td>
          <td>{{ patient.scanner.prediction.confidence }}%</td>
          {% if patient.scanner.prediction.predict_check == "No" %}
          <td style="color : red">{{ patient.scanner.prediction.predict_check }}</td>
          {% else %}
          <td style= "color: green">{{ patient.scanner.prediction.predict_check }}</td>
          {% endif %}
          <td>{{ patient.scanner.prediction.predict_check_date }}</td>

          <td>
            <a href="{{ url_for('edit_patient', patient_id=patient.id) }}"
              >Edit</a
            >
          </td>
          <td>
            <a href="{{ url_for('full_view_patient', patient_id=patient.id) }}"
              >View patient</a
            >
          </td>
        </tr>
        {% endif %}
        {% endfor %}
      </tbody>
    </table>

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const searchButton = document.getElementById("search-button");
        const searchInput = document.getElementById("search-input");

        searchButton.addEventListener("click", function () {
          const searchTerm = searchInput.value.trim();
          if (!searchTerm) {
            alert("Please enter a patient name or ID");
            return;
          }

          let url = `/view_patients?`;
          if (searchTerm.match(/^[a-f\d]{24}$/i)) {
            url += `patient_id=${searchTerm}`;
          } else {
            url += `name=${encodeURIComponent(searchTerm)}`;
          }

          window.location.href = url;
        });

        searchInput.addEventListener("keyup", function (event) {
          if (event.key === "Enter") {
            searchButton.click();
          }
        });
      });
    </script>
  </body>
</html>
