{% from "components/navbar.html" import navbar %} {% from
"components/footer.html" import footer %} {% from "components/print.html" import
printButton %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>View Patients</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', path='styles.css') }}"
    />
  </head>
  <body>
    {{ navbar() }}

    <table border="1" id="tab">
      <caption>
        <a href="{{ url_for('add_patient') }}">Add Patient</a>
        <hr style="margin: 15px; background-color: transparent; border: none" />
      </caption>
      <thead>
        
        <tr>
          <th>Name</th>
          <th>Age</th>
          <th>Gender</th>
          <th>Scan</th>
          <th>Action</th>
          <th>ID</th>
          <th>Prediction</th>
          <th>Date</th>
          <th>Confidence</th>
          <th>Validation</th>
          <th>scanner</th>

          <th>Edit</th>

          <th>Predict</th>
          <th>View patient</th>
        </tr>
      </thead>

      <tbody>
        {% for patient in patients %}
        <tr>
          <td>{{ patient.name }}</td>
          <td>{{ patient.age }}</td>
          <td>{{ patient.gender }}</td>
          <td>{{ patient.scanner.scanner_name }}</td>
          <td>{{ patient.id }}</td>
          <td>{{ patient.scanner.prediction.AI_predict }}</td>
          <td>{{ patient.scanner.prediction.prediction_date}}</td>
          <td>{{ patient.scanner.prediction.confidence }}</td>
          <td>{{patient.scanner.prediction.validation or "en attente de validation"}}</td>
          <td>{{patient.scanner.name or "en attente de scanner"}}</td>

          <td>
            <a href="{{ url_for('edit_patient', patient_id=patient.id) }}"
              >Edit</a
            >
          </td>
          <td>
           <a href="{{ url_for('predict_patient', patient_id=patient.id) }}"
              >Predict</a
            >
          </td>
          <td>
            <a href="{{ url_for('full_view_patient', patient_id=patient.id) }}"
              >View full info</a
            >
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <div class="btnContainerFP">
      <button
        type="button"
        value="Create PDF"
        id="btPrint"
        onclick="createPDF()"
      >
        <svg
          fill="#000000"
          version="1.1"
          id="Capa_1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          width="50px"
          height="50px"
          viewBox="0 0 45 45"
          xml:space="preserve"
        >
          <g>
            <path
              d="M42.5,19.408H40V1.843c0-0.69-0.561-1.25-1.25-1.25H6.25C5.56,0.593,5,1.153,5,1.843v17.563H2.5
		c-1.381,0-2.5,1.119-2.5,2.5v20c0,1.381,1.119,2.5,2.5,2.5h40c1.381,0,2.5-1.119,2.5-2.5v-20C45,20.525,43.881,19.408,42.5,19.408z
		 M32.531,38.094H12.468v-5h20.063V38.094z M37.5,19.408H35c-1.381,0-2.5,1.119-2.5,2.5v5h-20v-5c0-1.381-1.119-2.5-2.5-2.5H7.5
		V3.093h30V19.408z M32.5,8.792h-20c-0.69,0-1.25-0.56-1.25-1.25s0.56-1.25,1.25-1.25h20c0.689,0,1.25,0.56,1.25,1.25
		S33.189,8.792,32.5,8.792z M32.5,13.792h-20c-0.69,0-1.25-0.56-1.25-1.25s0.56-1.25,1.25-1.25h20c0.689,0,1.25,0.56,1.25,1.25
		S33.189,13.792,32.5,13.792z M32.5,18.792h-20c-0.69,0-1.25-0.56-1.25-1.25s0.56-1.25,1.25-1.25h20c0.689,0,1.25,0.56,1.25,1.25
		S33.189,18.792,32.5,18.792z"
            />
          </g>
        </svg>
      </button>
    </div>

    {{ footer() }} {{ printButton() }}

  </body>
</html>
