{% macro navbar() %}
<nav>
  <div class="NavContainer">
    <h2 class="logo"><a href="/">NEUROGUARD 🛡️</a></h2>

    <div class="LinkContainer">
      <a href="/">Home</a>
      <a href="/add_patient">Add New Patient</a>
      <a href="/view_waiting_patients">Waiting validation </a>
      <a href="/tumor">Tumor</a>
      <a href="/no_tumor">No tumor</a>
      <a href="/view_patients">View all</a>
      <!-- <a href="/view_validates_patients">view validates patients </a> -->
      <!-- <a href="/docs#">doc</a> -->
      <div class="searchbarContainer">
        <input id="search-input" type="text" placeholder="Enter Patient name" />
        <button id="search-button" class="search-button">
          <img src="../static/src/search_icon.svg" class="button-image" />
        </button>
      </div>
    </div>
  </div>
</nav>

<script defer>
  document.addEventListener("DOMContentLoaded", function () {
    const searchButton = document.getElementById("search-button");
    const searchInput = document.getElementById("search-input");

    searchButton.addEventListener("click", function () {
      const searchTerm = searchInput.value.trim();
      if (!searchTerm) {
        alert("Please enter a patient name or ID");
        return;
      }

      let url = `/view_patients?`;
      if (searchTerm.match(/^[a-f\d]{24}$/i)) {
        url += `patient_id=${searchTerm}`;
      } else {
        url += `name=${encodeURIComponent(searchTerm)}`;
      }

      window.location.href = url;
    });

    searchInput.addEventListener("keyup", function (event) {
      if (event.key === "Enter") {
        searchButton.click();
      }
    });
  });
</script>

{% endmacro %}
