<!-- edit_patient.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Patient</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='styles.css') }}">
</head>
<body>

<h1>Edit Patient</h1>

<form id="editPatientForm">
    <!-- Ajouter des champs pour éditer les informations du patient -->
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" required value="{{ patient.name }}">
    <br>

    <label for="age">Age:</label>
    <input type="number" id="age" name="age" required value="{{ patient.age }}">
    <br>

    <label for="gender">Gender:</label>
    <select id="gender" name="gender" required>
        <option value="male" {{ "selected" if patient.gender == "male" else "" }}>Male</option>
        <option value="female" {{ "selected" if patient.gender == "female" else "" }}>Female</option>
    </select>
    <br>

    <!-- Add a file input field for uploading a JPEG file
    <label for="file">Upload scanner :</label>
    <input type="file" id="fileInput" name="file" required value="{{ patient.scanner }}">
    <br> -->

    <!-- Ajouter un champ caché pour stocker l'ID du patient -->
    <input type="hidden" id="patientId" name="patientId" value="{{ patient_id }}">
    <br>

    <!-- Ajouter un bouton pour soumettre le formulaire -->
    <button type="button" id="submitBtn">Submit</button>
</form>
<a href="/">home</a>

<!-- Ajouter le script JavaScript pour gérer la soumission du formulaire -->
<script>
    const submitButton = document.getElementById('submitBtn');
    submitButton.addEventListener('click', () => {
        // Récupérer les valeurs du formulaire
        const name = document.getElementById('name').value;
        const age = document.getElementById('age').value;
        const gender = document.getElementById('gender').value;
        const patientId = document.getElementById('patientId').value;
        // Récupérer le fichier à uploader
        // const fileInput = document.getElementById('fileInput');
        // const file = fileInput.files[0];

        // Construire l'objet avec les données du formulaire
        const formData = {
            name: name,
            age: age,
            gender: gender
            // scanner: file
        };

        // Effectuer une requête vers l'endpoint de modification du patient
        fetch(`/edit_patient/${patientId}`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(formData)
        })
        .then(response => response.json())
        .then(data => {
            // Rediriger vers la vue des patients après l'édition
            window.location.href = '/view_patients';
        })
        .catch(error => console.error('Error:', error));
    });
</script>

</body>
</html>
