<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Patients</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='styles.css') }}">
</head>
<body>
    <h1>Search Patient</h1>

    <form action="{{ url_for('search_patient') }}" method="GET">
        <label for="search_id">Search by ID:</label>
        <input type="text" id="search_id" name="search_id">
        <button type="submit">Search</button>
    </form>

    <form action="{{ url_for('search_patient') }}" method="GET">
        <label for="search_name">Search by Name:</label>
        <input type="text" id="search_name" name="search_name">
        <button type="submit">Search</button>
    </form>

</body>
</html>
